body {
  margin: 0;
  font-family: 'Markazi', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primary-btn {
	background-color: #f4ce14;
  border-radius: 30px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 12px 16px;
}